<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stgudent Details Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <h3 class = "container-fluid text-md-start text-muted">Personal Information</h3>
    <p class = "container-fluid text-md-start">(As Indicated on Your Password)</p>
    <p class = "container-fluid text-md-start text-muted">upload Password to Autofill</p>
    


      <div class="container-fluid text-md-start ">

        <div class="row mt-3">
            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">First Name<sup class = "text-danger">*</sup></label>
                <input type="text" id="typeText4" placeholder="Type here" class="form-control" required/>
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Middle Name</label>
                <input type="text" id="typeText5" class="form-control" required/>
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Last Name<sup class = "text-danger">*</sup></label>
                <input type="text" id="typeText6" class="form-control" required/>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Date of Birth<sup class = "text-danger">*</sup></label>
                <input type="Date" id="typeText4" placeholder="Type here" class="form-control" required/>
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">First Language<sup class = "text-danger">*</sup></label>
                <input type="text" id="typeText5" class="form-control" required/>
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Citizenship Countery<sup class = "text-danger">*</sup></label>
                <input type="text" id="typeText6" class="form-control" required/>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Passport Number<sup class = "text-danger">*</sup></label>
                <input type="Number" id="typeText4" placeholder="Type here" class="form-control" required/>
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Password Expire Data<sup class = "text-danger">*</sup></label>
                <input type="text" id="typeText5" class="form-control" required/>
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Email<sup class = "text-danger">*</sup></label>
                <input type="email" id="typeText6" class="form-control" required/>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Phone NUmber<sup class = "text-danger">*</sup></label>
                <input type="Number" id="typeText4" placeholder="Type here" class="form-control" required/>
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Gender<sup class = "text-danger">*</sup></label>
                <br>
                <input type="radio" name = "payment Gateway" id = "eSewaRadio" value = "E-Sewa">
                <label class="form-label" for="E-sewa">Male </label>
                <input type="radio" name = "payment Gateway" id = "KhaltiRadio" value = "Khalti">
                <label class="form-outline" for="Khalti">Female</label>
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Marital Status<sup class = "text-danger">*</sup></label>
                <br>
                <input type="radio" name = "payment Gateway" id = "eSewaRadio" value = "E-Sewa">
                <label class="form-label" for="E-sewa">Single </label>
                <input type="radio" name = "payment Gateway" id = "KhaltiRadio" value = "Khalti">
                <label class="form-outline" for="Khalti">Married</label>
              </div>
            </div>
          </div>
          
          <h3 class = "container-fluid text-md-start">Address Details</h3>

          <div class="row mt-3">
            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Address <sup class = "text-danger">*</sup></label>
                <input type="text" id="typeText4" placeholder="Type here" class="form-control" required/>
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">City/Town<sup class = "text-danger">*</sup></label>
                <input type="text" id="typeText5" class="form-control" required/>
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Provience/State<sup class = "text-danger">*</sup></label>
                <input type="text" id="typeText6" class="form-control" required/>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Country <sup class = "text-danger">*</sup></label>
                <input type="text" id="typeText4" placeholder="Type here" class="form-control" required/>
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Postal/Zip<sup class = "text-danger">*</sup></label>
                <input type="text" id="typeText5" class="form-control" required/>
              </div>
            </div>
          </div>


          <h3 class = "container-fluid text-md-start">Education Summary</h3>
          <div class="row mt-3">
            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Highest Level of Education <sup class = "text-danger">*</sup></label>
                <input type="text" id="typeText4" placeholder="Type here" class="form-control" required/>
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Country of Education<sup class = "text-danger">*</sup></label>
                <input type="text" id="typeText5" class="form-control" required/>
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Grading Scheme<sup class = "text-danger">*</sup></label>
                <input type="text" id="typeText6" class="form-control" required/>
              </div>
            </div>
          </div>


          <div class="row mt-3">
            <div class="col-sm-4 mb-3">
              <div class="form-outline">
                <label for="">Grade Average <sup class = "text-danger">*</sup></label>
                <input type="text" id="typeText4" placeholder="Type here" class="form-control" required/>
              </div>
            </div>


            <h3 class = "container-fluid text-md-start">School Attended</h3>
            <div class="row mt-3">
              <div class="col-sm-4 mb-3">
                <h5 class = "text-muted">Sainik Awaysiya Mahavidhayala</h5>
                <p class = "text-dark">12</p>
              </div>
  
              <div class="col-sm-4 mb-3">
                <i style = "color: green;" class="fa fa-check" aria-hidden="true"></i><span><strong class = "text-muted"> Graduated From Institution:</strong></span><span class = "text-muted">  October 16, 2022</span>
                <br>
                <i style = "color: green;" class="fa fa-check" aria-hidden="true"></i><strong class = "text-muted">  Certificate Awarded:</strong>
                <br>
                <i>Level : Grade 12 / High School</i>
                  <i>Attended From July 15, 2020 to July 15, 2022</i>
                  <p>Language of Instruction : English</i>
                  <p>Address : </i>
                  <p>Sainik Awasiya Mahavidhayala</p>
              <p>Pokhara, Gandaki 33700</p>
                <p>Nepal</p>
              </div>
  
              <div class="col-sm-4 mb-3">
                
              </div>








             
          


          





        
              <div class="row mb-3">
                <div class="col-lg-4 mb-3">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem doloremque atque ratione inventore expedita consectetur repellendus cum, consequatur voluptates? Fugiat molestiae deleniti, recusandae vel quaerat nulla consequuntur nostrum harum in.</p>
                </div>
                <div class="col-lg-4 mb-3">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus veritatis laborum beatae maiores culpa quibusdam dolores, recusandae natus exercitationem sit mollitia id dolore ex reprehenderit ullam vel repellendus? Cumque, ut.</p>
                </div>
                <div class="col-lg-4 mb-3">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus veritatis laborum beatae maiores culpa quibusdam dolores, recusandae natus exercitationem sit mollitia id dolore ex reprehenderit ullam vel repellendus? Cumque, ut.</p>
              </div>
            </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>




<!-- 

<div id="info">
        
  <h1>
      Student Details :  {{ object.first_name }} - {{ object.last_name }}
  </h1>

  <dl>
      <p>language - {{object.main_language}}</p>
      <p>country of citizenship - {{object.country_of_citizenship}}</p>
      <p>Passport number - {{object.passport_number}}</p>
      <p>Passport expiry date - {{object.password_expiry_date}}</p>
      <p>Email - {{object.email}}</p>
      <p>Gender - {{object.gender}}</p>
      <p>Marital Status - {{object.marital_status}}</p>
      <p>Phone - {{object.phone}}</p>
      </dl>
</div>

<h2>Address Details:</h2>
<dl>
  <table class="table table-bordered table-hover data-table" id="table" name="Address:">
      <thead>
          <tr>
              <th>Address</th>
              <th>City/Town</th>
              <th>Province</th>
              <th>Country</th>
              <th>Zip Code</th>

          </tr>
      </thead>
      <tbody>
          {% for address in address_details %}
              <tr>
                  <td>{{ address.address }}</td>
                  <td>{{ address.city_town }}</td>
                  <td>{{ address.province }}</td>
                  <td>{{ address.country }}</td>
                  <td>{{ address.zip_code }}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</dl>

<h2>Education</h2>
<dl>

  <table class="table table-bordered table-hover data-table"  id="table" name="Education:">
      <thead>
          <tr>
              <th>Country</th>
              <th>Subject</th>
              <th>Highest Level of Education</th>
              <th>Grade Average</th>
          </tr>
      </thead>
      <tbody>
          {% for education in educations %}
              <tr>
                  <td>{{ education.country}}</td>
                  <td>{{ education.subject}}</td>
                  <td>{{ education.highest_education}}</td>
                  <td>{{ education.grade_average}}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</dl>

<h2>School Attended</h2>
<dl>

  <table class="table table-bordered table-hover data-table"  id="table" name="School Attended:">
      <thead>

          <tr>
              <th>name</th>
              <th>level</th>
              <th>attended_from</th>
              <th>attended_to</th>
              <th>address</th>
          </tr>
      </thead>
      <tbody>
          {% for sa in school_attended %}
              <tr>
                  <td>{{ sa.name}}</td>
                  <td>{{ sa.level}}</td>
                  <td>{{ sa.attended_from}}</td>
                  <td>{{ sa.attended_to}}</td>
                  <td>{{ sa.address}}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</dl>



<h2>Additional Qaulification</h2>
<dl>

  <table class="table table-bordered table-hover data-table"  id="table" name="Additional Qualification:">
      <thead>
          <tr>
              <th>Graduate Record Examination</th>
              <th>Graduate Management Admission Test</th>
              <th>name</th>
              <th>exam_year</th>
              <th>expiration</th>
          </tr>
      </thead>
      <tbody>
          {% for aq in additional_qualifications %}
              <tr>
                  <td>{{ aq.gre}}</td>
                  <td>{{ aq.gmat}}</td>
                  <td>{{ aq.name}}</td>
                  <td>{{ aq.exam_year}}</td>
                  <td>{{ aq.expiration}}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</dl>


<h2>Test Score</h2>
<dl>

  <table class="table table-bordered table-hover data-table"  id="table" name="Test Score:">
      <thead>
          <tr>
              <th>Exam Type</th>
              <th>Date</th>
              <th>Exam</th>
              <th>Exam Score</th>
          </tr>
      </thead>
      <tbody>
          {% for test_score in test_scores %}
              <tr>
                  <td>{{ test_score.exam_type}}</td>
                  <td>{{ test_score.date}}</td>
                  <td>{{ test_score.exam}}</td>
                  <td>{{ test_score.exam_score}}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</dl> -->