.container-fluid{
    font-family: Helvetica, sans-serif;

}
#AddMoreFiles{
    border: 3px dashed #ccc;
    padding: 15px;
}
#AddMoreFiles button{
    border: 2px solid #ccc;
    margin: auto;
}
label{
    font-size: 15px;
    color: #000000BF;
}
label sup {
    font-size: 15px;
    font-weight: 400;
    width: 6px;
    height: 18px;
}
  input{
    padding: 10px;
    line-height: 0.5;
  }
  .col-md-12 button{
    padding: 0px 15px;
    margin-top: -10px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 5px;
    height: 5px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3e4d5c;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #575c62;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }